@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url(../public/assets/font/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url(../public/assets/font/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: lighter;
  src: url(../public/assets/font/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url(../public/assets/font/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
  src: url(../public/assets/font/Lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: lighter;
  src: url(../public/assets/font/Lato/Lato-LightItalic.ttf);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #ececec;
  font-family: "Lato";
}

.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.1;
  z-index: 1;
}

.unselectedEcowasland {
  fill: #ADADAD;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.1;
}

.selectedEcowasland {
  fill: #00834F;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.1;
}
.svgMap {
  transform: scale(1250%);
  margin-top: -12%;
  margin-left: -100%;
  /* height: 0; */
  /* background-color: white; */
}

.landBeta {
  fill: red;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.circle {
  z-index: 200;
}

